.dashboard_heading h3 {
	background-color: rgb(223, 253, 253);
	color: rgb(0, 89, 255);
	border: 1px solid black;
	border-radius: 10px;
	margin: 10px auto 40px auto;
	height: 150px;
}

.page_top_margin {
	margin-top: 70px;
}

.menu_bar .drawer {
	background-color: rgb(83 83 82);
}

.loginn_bg {
	height: 100vh;
	width: 100vw;
	background: url("../src/assets/loginn-bg.png") center/cover no-repeat;

}

/* 
.login_box {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	width: 400px;
	padding: 40px;
	background: rgba(0, 0, 0, 0.808);
	box-sizing: border-box;
	box-shadow: 0 15px 25px rgba(0,0,0,.5);
	border-radius: 10px;
}
.login_box h2 {
	margin: 0 0 30px;
	padding: 0;
	color: #FFF;
	text-align: center;
}

.login_box .inputBox {
	position: relative;
}
.login_box .inputBox input {
	width: 100%;
	padding: 10px 0;
	font-size: 16px;
	color: #FFF;
	letter-spacing: 1px;
	margin-bottom: 30px;
	border: none;
	border-bottom: 1px solid #FFF;
	outline: none;
	background: transparent;
}
.login_box .inputBox label {
	position: absolute;
	top: 0;
	left: 0;
	padding: 10px 0;
	font-size: 16px;
	color: #FFF;
	pointer-events: none;
	transition: .5s;
	animation: LabelOnLoad 1s forwards 0s ease;
}
------- ya seleker

.login_box .inputBox input:focus ~ label, 
.login_box .inputBox input:valid ~ label {
	top: -19px;
	left:0;
	color: #03A9F4;
	font-size: 12px;
}
.login_box input[type='submit'] {
	background: transparent;
	border: none;
	outline: none;
	color: #FFF;
	background: #03A9F4;
	padding: 10px 20px;
	cursor: pointer;
	border-radius: 5px;
	font-size: 14px;
}
.login_box input[type='submit']:hover {
	background-color: rgba(3, 169, 244, 0.7);
}
-----media

.login_page_links {
	position: absolute;
	left: 50px;
	bottom: 50px;
}

.pageFooter {
	padding: 0 30px !important;
	margin-top: auto;
	position: absolute;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.form-check-input {
	border-color: rgba(0, 0, 0, 0.308) !important;
}
 */



.login-box {
	position: absolute;
	width: 655px;
	height: 800px;
	top: 100px;
	right: 10%;
	border-radius: 14.59px;
	/* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
	background: #FFFFFFB2;
	padding-left: 50px;
	align-content: center;
	opacity: 1;
	box-shadow: inset 0 -8px 0 0 #51B32E;
	;


}


.login-header img {
	width: 401.21px;
	height: 98.48px;
	display: block;
	margin: 0 auto 20px;
	opacity: 1;
}

.login-header h2 {
	font-size: 29.18px;
	font-weight: 400;
	line-height: 38.91px;
	text-align: left;
	color: #0F172A;
}

.login-header p {
	font-size: 19.45px;
	font-weight: 400;
	line-height: 29.18px;
	text-align: left;
	color: #0F172A;
}


.Form-box {
	width: 537.38px;
	margin-top: 20px;
}

.Form-box label {
	font-size: 16.77px;
	font-weight: 500;
	text-align: left;
	color: #0F172A;
}

.Form-box input {
	width: 100%;
	height: 60.79px;
	padding: 17.23px 19.19px;
	border-radius: 9.73px;
	border: 1.22px solid #CBD5E1;
	background: #FFFFFF99;
	color: #0F172A;
}


.Form-box button {
	width: 100%;
	height: 75.38px;
	padding: 20.23px 0;
	border-radius: 7.29px;
	margin-top: 20px;
	box-shadow: 0px 1px 5.7px 0px #0000004D;
	background: linear-gradient(180deg, #54D227 24.32px, #51B32E 99.98%);
	border: none;
	font-size: 25px;
	color: #fff;
}


.login-footer {
	width: 531px;
	padding: 19.45px;
	margin-top: 40px;
	text-align: center;
	border: 1.22px solid #2AAF9F;
	background: #FFEBEE80;


}

.login-footer p {
	color: #546E7A;
	text-align: center;
	margin: 0;
}

.login-footer span {
	font-size: 17.02px;
	font-weight: 700;
	line-height: 24.32px;
	text-align: center;


}

.login-footer p span {
	color: #54D227;
}

.login-footer p strong span {
	color: #2AAF9F;
}

.InputGroup .InputGroupText {
	display: flex;
	align-items: center;
	justify-content: center;

	border: none;
	padding: 0;
	cursor: pointer;
	background: #FFFFFF99;
}

.InputGroup .InputGroupText img {
	width: 1em;
	height: 1em;
}

@keyframes LabelOnLoad {
	0% {
		transform: rotate(0) translateY(-19px);
		opacity: 0;
	}

	100% {
		transform: rotate(0) translateY(0);
		opacity: 1;
	}
}

@media (max-width: 720px) {
	.login_box {
		width: 80%;
	}
}

@media (min-width: 721px) and (max-width: 1024px) {
	.login_box {
		width: 70%;
	}
}




/*-------------------------------------------------- header css --------------------------------------------------------------------*/






.header-container {
	display: flex;
	align-items: center;
	justify-content: space-between;
	background: #264A57;

	color: white;
	font-family: 'Arial', sans-serif;
	width: 100%;
	height: 86px;
	padding: 0 20px;
	box-sizing: border-box;
}

.header-left,
.header-right {
	display: flex;
	align-items: center;
	flex: 0 0 auto;
}

.header-center {
	text-align: center;
	flex: 1;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.title {
	margin: 0;
	font-size: 24px;
	color: #5cc1aa;
	font-weight: bold;
	font-family: sans-serif;
	margin-bottom: 5px;
}

.sub-title {
	color: white;
	font-weight: normal;
}

.version {
	margin: 0;
	font-size: 12px;
	color: #98c8b5;
}

.icon {
	font-size: 20px;
	margin: 0 10px;
	cursor: pointer;
}

.header-right {
	position: relative;
	display: flex;
	justify-content: flex-end;
	flex: 0 0 auto;
}

.header-right .icon::after {
	content: '1';
	position: absolute;
	top: -5px;
	right: -5px;
	background-color: #69db00;
	color: white;
	border-radius: 50%;
	width: 16px;
	height: 16px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 10px;
}

@media (max-width: 1024px) {
	.header-container {
		padding: 0 15px;
	}

	.title {
		font-size: 22px;
	}

	.icon {
		font-size: 18px;
	}
}

@media (max-width: 768px) {
	.header-container {
		flex-direction: column;
		height: auto;
		padding: 10px;
	}

	.header-center {
		margin: 10px 0;
	}

	.title {
		font-size: 20px;
	}

	.version {
		font-size: 11px;
	}
}

@media (max-width: 480px) {
	.title {
		font-size: 18px;
	}

	.icon {
		font-size: 16px;
		margin: 0 5px;
	}
}


/* -------------------------------------------------------------------Dashboard--css--------------------------- */

/* 
.gauge-container {
	display: flex;
	justify-content: space-between;
	gap: 5px; 
	margin: 0; 
	width: 100%;
	padding: 0;
  }
  
  .gauge-card {
	background: white;
	border-radius: 8px;
	/* padding: 20px; 
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	text-align: center;
	flex: 1;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin: 5px;
	margin-bottom: 15px;
	height: 500px; 
  }
  
  .gauge-card-header {
	font-size: 1.5rem;
	font-weight: bold;
	margin-bottom: 10px;
  }
  
  .gauge-card-items {
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 435.33px;
	
  }
  
  .gauge-card-items p {
	margin: 5px 0;
  }
  
  .gauge-card-description {
	font-size: 1.2rem;
	margin-top: 10px;
  }
   */


.gauge-container {
	display: flex;
	justify-content: space-between;
	gap: 5px;
	margin: 0;
	width: 100%;
	padding: 0;
}

.gauge-card {

	background: white;
	border-radius: 8px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	text-align: center;
	flex: 1;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin: 5px;
	margin-bottom: 20px;
	box-shadow: inset 0 -4px 0 0 #51B32E;
}

.gauge-card-header {
	
	margin-bottom: 10px;
	background: #264A57;
	color: white;
	width: Fill (458px)px;
	height: Hug (73.89px)px;
	padding: 27.53px 27.53px 18.36px 8px;
	gap: 0px;
	border-radius: 8px 8px 0px 0px;
	opacity: 0px;


	font-family: Roboto;
	font-size: 24px;
	font-weight: 700;
	line-height: 27.53px;
	text-align: center;


}

.gauge-card-items {
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 435.33px;


}

.gauge-item {
	display: flex;
	align-items: center;
	margin: 5px 0;
	font-size: 1rem;
}

.dot {
	height: 12px;
	width: 12px;
	border-radius: 50%;
	display: inline-block;
	margin-right: 12px;
	margin-left: 10px;
}

.text-info {
	background-color: #17a2b8;
}

.text-primary {
	background-color: #007bff;
}

.text-warning {
	background-color: #ffc107;
}

.text-success {
	background-color: #28a745;
}

.text-danger {
	background-color: #dc3545;
}

.item-label {
	flex-grow: 1;
	text-align: left;
}

.item-value {
	margin-left: 10px;
}

.gauge-card-description {
	font-size: 1.2rem;
	margin-top: 5px;
	margin-bottom: 5px;
}



/* -------------------------------------------------------------------Dashboard para--css--------------------------- */
.ParaNoti {
	font-family: Sen;
	font-size: 24px;
	font-weight: 700;
	line-height: 38.91px;
	text-align: center;
	color: #264A57;

}

.ParaNoti_span {
	font-family: Sen;
	font-size: 24px;
	color: #29AE9E;

	font-weight: 700;
	line-height: 38.91px;
	text-align: center;

}


/* -------------------------------------------footer-css------------------*/
/* .pageFooter{
	position: relative;
	bottom: 0%;
	width: 100%;
	text-align: center;
	padding: 30px;
	margin-bottom: 40px;
} */

.pageFooter p {
	width: 100%;
	height: 86px;
	top: 880px;
	padding: 30px;
	margin-top: 15px;

	gap: 0px;
	opacity: 0px;
	background: #264A57;
	text-align: center;
	color: white;

}

.pageFooter p span {
	color: #29AE9E;

}